/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  // width: 1040px;
  width: 1020px;
}

div#inner-header.wrap {
    width: 100%;
    max-width: 1240px;
}