// ALL SCSS
// FIXED HEADER - ATTACHED TO BODY
.fixed-header {
    // @media(min-width: 768px) {
        padding-top:46px;
    // }
    #site-header {
        width:100%;
        position: fixed;
        top:0;
        z-index: 10;
        @include prefix(transform, translateZ(10));
        @media(min-width: 768px) {
            @include prefix(box-shadow, 0px 2px 6px 0 rgba(0,0,0,0.5));
        }
    }
}


.mobile-fixed {
    padding-top:46px;
    @media(max-width: 767px) {
        #site-header {
            width:100%;
            position: fixed;
            top:0;
            z-index: 10;
            
            @include prefix(transform, translateZ(10));
        }
    }
}


// INNER HEADER BG COLORS FOR MOBILE MENU
@media(max-width: 767px){
    #inner-header {
        background-color: black;
        @include prefix(transition, background-color 200ms);
    }

    .black-bg {
        @include prefix(transition, background-color 200ms);
    }

    #inner-header.black-bg {
        background-color: black;
    }


    // NAV BG IS TRANSPARENT ON HOME PAGE
    .page-template-page-template-home-php {
        #inner-header {
            background-color:transparent;
        }
        #inner-header.black-bg {
            background-color: black;
        }
    }
}


.page-template-page-template-home-php.mobile-fixed {
    padding-top:0;
}


.nav .current-menu-item {
    a { border-bottom: 4px solid $gold; }
}

// F I X E D   F O O T E R 
// BODY WITH CLASS OF FIX FOOTER - HAS FOOTER FIXED
.fix-footer {
    // CONTENT CLASS BG WHITE
    #content { background-color: #ffffff; }

    .footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: -1;
        @include prefix( transform, translateZ(-1) );
    }
}

// SHADOW UTILITY CLASS
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}