// ALL SCSS
p, h1, h2, h3, h4, h5, h6, span, strong {
  -ms-word-break: keep-all;
  -ms-word-wrap: keep-all;
      word-break: keep-all;
     word-break: keep-all;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;
  // sets a minimum number of characters before and after the break
  // -webkit-hyphenate-before: 2;
  //  -webkit-hyphenate-after: 3;
  //          hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

.entry-content {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2em;
    }
}


// ALWAYS HAVE CONTENT DIV BE MIN HEIGHT OF 100VH -- ALL PAGES
#content { min-height: 100vh; }

// HAVE HEADER APPEAR AT BOTTOM OF PAGE ON HOME PAGE
.page-id-44 .header {
    @media(min-width: 768px) { 
        // margin-top:-46px; 
        margin-top:-35px; 
    }
}
.page-id-44.fixed-header .header {
    @media(min-width: 768px) { margin-top:0px; }
}

// FIXED HEADER - ATTACHED TO BODY
.fixed-header {
    // padding-top:46px;
    // padding-top:40px;
    padding-top:35px;
    
    @media(min-width: 768px) { margin-top:0; }
    
    #site-header {
        width:100%;
        position: fixed;
        top:0;
        z-index: 10;
        @include prefix(transform, translateZ(10));
        @media(min-width: 768px) {
            @include prefix(box-shadow, 0px 2px 6px 0 rgba(0,0,0,0.5));
        }
    }
}


.mobile-fixed {
    padding-top:46px;
    // padding-top:35px;
    @media(max-width: 767px) {
        #site-header {
            width:100%;
            position: fixed;
            top:0;
            z-index: 10;
            
            @include prefix(transform, translateZ(10));
        }
    }
}


// INNER HEADER BG COLORS FOR MOBILE MENU
@media(max-width: 767px){
    #inner-header {
        // background-color: black;
        background-color:none;
        @include prefix(transition, background-color 200ms);
    }

    .black-bg {
        @include prefix(transition, background-color 200ms);
    }

    #inner-header.black-bg { background-color: black; }

    // NAV BG IS TRANSPARENT ON HOME PAGE
    .page-template-page-template-home-php {
        #inner-header { background-color:transparent; }
        #inner-header.black-bg { background-color: black; }
    }
}


.page-template-page-template-home-php.mobile-fixed,
.page-template-page-template-home-php.fixed-header { padding-top:0; }

.page-template-page-template-home-php.fixed-header #inner-content {
    @media(min-width: 768px) {
        // padding-top:46px; 
        padding-top:35px; 
    }
}

.nav .current-menu-item {
    a { border-bottom: 4px solid $gold; }
}

// F I X E D   F O O T E R 
// BODY WITH CLASS OF FIX FOOTER - HAS FOOTER FIXED
.fix-footer {
    // CONTENT CLASS BG WHITE
    #content { background-color: #ffffff; }

    .footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: -1;
        @include prefix( transform, translateZ(-1) );
    }
}

// SHADOW UTILITY CLASS
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.entry-content .bottom-text {
    // font-size: 1em;
    font-size: .85em;
    line-height: 1.2em;
    font-family:proxima-nova-alt,sans-serif;
    max-width: 52em;
}