// CONTACT SCSS
.page-id-13 {

    @media(min-width: 768px) { padding-top:0; }

    .marquee hr {
        width: 6em;
        margin: 1em auto 1.75em;
        height: 2px;
    }
    
    #content {
        padding-top:0;
        background-color: transparent;
    }

    @media(min-width: 620px) {
        #container .marquee-holder {
            // height: 420px;
            height: 314px;
        }
    }


    #main > div > div > div.contact-content.cf > p:nth-child(2) {
        margin-top: 1em;
    }
}

// ALWAYS MAKE TEXT OUTPUT WHITE
.contact-content {
    margin-top: 2em;
    p {
        color:#fff;
        font-family:proxima-nova-alt,sans-serif;
    }
}


// HIDE FOOTER ON CONTACT PAGE
.page-id-13 {
    .footer { display: none; }
    #container {
      min-height:none;
      /* equal to footer height */
      margin-bottom:0;

      @media(min-width: 620px) {
            margin-bottom: 0; 
        }
    }
    #container:after {
      content: "";
      display: none;
    }
    .footer, #container:after {
      height:0;
        @media(min-width: 620px) {
            height:0;
        }
    }

}

.page-id-13 #main > div > div > div.contact-content.cf p a {
    color:white;
    text-decoration: none;

    @include prefix(transition, color 400ms);

    &:hover {
        color:$gold;
    }
}