// CONTACT SCSS
.page-id-13 {
    #container {
        // background-color: #000;
    }
    #content {
        padding-top:0;
        background-color: transparent;
    }
}

// ALWAYS MAKE TEXT OUTPUT WHITE
.contact-content {
    p {
        color:#fff;
    }
}
