// MOBILE MENU STYLES
.menu-icon {
    width:44px;
    height:44px;
    cursor: pointer;
    margin: 0 auto;
    float: none;
    text-align: left;

    position: absolute;
    z-index: 11;
    right:0;
    top:0;
    @include prefix(transform, translateZ(11));
    @include prefix(transition, all 0.3s);

    @media(min-width: 768px) {
      display: none;
    }
}

.menu-icon > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 80%;
    height:4px;
    background-color:#ffffff;
    border-radius:4px;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color:#ffffff;
  border-radius:4px;
  @include prefix(transition, all 0.3s);
}

.menu-icon > span:before {
    @include prefix(transform, translateY(-0.7em));
}

.menu-icon > span:after {
    @include prefix(transform, translateY(0.7em));
}

/* OPENED */

.menu-icon.open {
    margin-top:3px;
    @include prefix(transform, rotate(45deg));
}

.menu-icon.open > span:after,
.menu-icon.open > span:before { 
    @include prefix(transform, rotate(90deg)); 
}



// SLIDE DOWN MENU
@media(max-width:767px) {
  #nav-logo {
    position: absolute;
    z-index: 11;
    width:100%;
    height: 46px;
    background-color:black;
    top:0;

    @include prefix(transform, translateZ(11));
    @include prefix(transform, translateY(0));
    &:after {
      content: "";
      display: block;
      width:32px;
      height: 32px;
      margin:7px 0 0 7px;
      background-color:black;
      background-image:url('../../../../../img/logos/logo.png');
      background-position:50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .svg #nav-logo:after {
      background-image:url('../../../../../img/logos/logo.svg');
  }

  #inner-header.wrap { 
    height: 46px; 
    width:100%;
  }

  #main-menu-nav {
    width: 100%;
    background: black;
    position: absolute;
    z-index: 10;
    @include prefix(transform, translateZ(10));
    top:-230px;
    @include prefix(transform, translateY(-230px));

    @include prefix(transition, all 300ms);
  }
  #main-menu-nav.slide-down-menu {
    top:0;
    @include prefix(transform, translateY(46px));
  }

}

@media(min-width: 768px) {
  #nav-logo {
    display: none;
  }
}