.short-divider {
    border-bottom: 2px solid black;
    width: 80px;
    margin: auto;
    margin-top: 30px; margin-bottom: 30px;

    @media(max-width: 399px) { margin-top: 15px; margin-bottom: 45px; }
}

.float-text { position: absolute; }

.heart-text {
    position: absolute;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    width: 270px;
    top: 45%; left: 0; right: 0;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: .85em;
    max-width: 17em;

    @media(max-width: 995px) {
        font-size: 0.85em;
        width: 220px;
        padding: 8px;
    }

    @media(max-width: 875px) {
        font-size: 0.75em;
        width: 190px;
        padding: 8px;
    }

    @media(max-width: 560px) {
        font-size: 0.55em;
        width: 140px;
        padding: 4px;
        top: 39%;
    }

    @media(max-width: 450px) { width: 80px; }
}

.lines {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto !important;
    max-width: 80% !important; max-height: 80%;
}

.circle-labels {
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    font-size:12px;

    div {
        width: 15px; height: 15px;
        border-radius: 50%; background: black; display: inline-block;
        vertical-align: top;
        margin-top: 2px;
    }
}

.label-str {
    top: 15px; left: 10%;
    padding: 6px 17px 5px;
    border: 1px solid black;
}

.label-com {
    bottom: 3%; left: 15%;
    padding: 6px 17px 5px;
    border: 1px solid black;

    @media(max-width: 870px) { left: 0; }
}

.label-cre {
    padding: 6px 17px 5px;
    border: 1px solid #daa250;
    bottom:4%; right:5%;
}

@media(max-width: 620px) {
    .label-str { left: 0; }
    .label-com { bottom:0; }
    .label-cre { right:0; bottom: -8%; }
}

@media(max-width: 500px) {
    .label-str {
        top:-9%;
        padding: 3px 6px;
        font-size: 13px;
    }

    .label-com {
        bottom:-10%;
        padding: 3px 6px;
        font-size: 13px;
    }

    .label-cre {
        bottom:-12%;
        padding: 3px 6px;
        font-size: 13px;
    }
}

@media(max-width: 399px) {
    .label-str, .label-com,.label-cre { font-size: 11px; }
}

.circle-wrapper {
    position: relative;
    margin:0 auto;
    max-width: 776px;
}

.circle {
    margin: auto !important;
    max-width: 80% !important;
    display: block;
}

.heart-container {
    position: absolute;
    top: 16%; left: 0; right: 0;
    @media(max-width: 560px) { top: 10%; }
}

.cubeWrapper {
    position: relative;
    margin: 50px auto;
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    width: 70%; height: 70%;
}

.cubeWrapper .rotator{
    -webkit-animation: rotateWen 4s linear 0s infinite normal;
    animation: rotateWen 4s linear 0s infinite normal;
    color: white;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cubeWrapper .cube {
    text-align: center;
    width: 70%; height: 70%;
    margin: auto;

    img { margin: 0 0 0 0 !important; }
}

@-webkit-keyframes rotate3d {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(45deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
}

@-webkit-keyframes rotateWen {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
  
      25% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(15deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
  
      50% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
  
      75% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(-15deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
}

@keyframes rotate3d {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    to {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
}

.bottom-text {
    width: 80%;
    text-align: center;
    margin: auto;
    color: black;
    font-size: 1.2em; line-height: 1.3em;
    margin: 90px auto;

    @media(max-width: 767px) { font-size: 1em; }
}

#post-8 > section > div.circle-wrapper > div.float-text.gold4 > p {
    max-width: 14em;

    br {display: none;}
}

html.js body.page div#container.tk-brandon-grotesque div#content div#inner-content.wrap div#main.m-all article#post-8.post-8 section.entry-content div.circle-wrapper div.float-text p {
    min-width: 11em;
}


#post-8 > section > div.circle-wrapper > div.float-text.black7 > p {
    em { vertical-align: top; }
    strong { display: inline-block; }
}


// ANIMATING LINKS CLASS
.js-hide {
    opacity: 0;
    @include prefix(transition, all 300ms);
}

.js-show {
    opacity: 1;
    @include prefix(transition, all 300ms);
}

// ROTATE CIRCLE
.circle-wrapper .circle {
    // @include prefix(transform, rotate(-20deg));
    @include prefix(transform, rotate(-12deg));
    // @include prefix(transition, all 5200ms linear);
    @include prefix(transition, all 6000ms linear);
}

.circle-wrapper .circle.around {
    @include prefix(transform, rotate(360deg));
}