// SINGLE CASE STUDY
.single-case_study {

    .c-tagline,
    .c-logo { text-align: center; }

    .c-logo {
        margin: 1em auto;
        width: 50%;

        img {
            height: auto;
            width: 100%;
            max-width: 300px;
        }
    }

    .c-tagline h3 {
        text-align: center;
        color:#000;
        text-transform: uppercase;
        font-weight: 800;
        max-width: 39em;
        margin: 0 auto;

        &:after {
            content: "";
            display: block;
            width: 5em;
            height: 2px;
            background-color: #000;
            margin:1em auto 1.5em;
        }
    }
}

.panel-container {
    .title-holder {
        text-align: center;
        
        .num-title-holder {
            position: relative;
            display: inline-block;
            margin:0 auto;
            text-align: center;
            width: 100%;
            max-width: 300px;
            margin-bottom: 1.7em;
        }
        .num-holder {
            font-family: brandon-grotesque, sans-serif;
            color:$gold;
            font-size: 8em;
            line-height: 1em;
            margin:0 auto;
            font-weight: 800;
            max-width: 300px;
            width: 100%;
        }

        .c-title {
            color:#000;
            text-transform: uppercase;
            font-weight: 800;
            display: inline-block;

            position: absolute;
            left:0; right:0; 
            bottom: -1.25em;

            &:after {
                content: "";
                display: block;
                width: 4em;
                height: 2px;
                background-color: #000;
                margin:1em auto 1.5em;
            }
        }

        p {
            // font-size: 19px;
            // line-height:1.3em;
            // font-size: 1rem;
            // line-height: 1.19rem;
            font-family:proxima-nova-alt,sans-serif;
        }
    }
}


// PANEL STYLES BY FORMAT
.panel-container { margin-bottom: 1em; }

.panel-container.intro {
    img {
        display: block;
        height: auto;
        width: 100%;
        margin:0 auto;
        float: right;
    }

    .pic-1 {
        float:right;
        width: 42%;
        padding:2.5em 1em;
    }

    .title-holder {
        @media(min-width: 768px) {
            float:right;
            width: 42%;
            padding:2.5em 1em;    
        }
        
        p { 
            max-width: 19.5em;
            margin: 0 auto 1em;
            @media(min-width: 768px) { margin: 0 auto; }
        }
    }

    .pic-1 {
        width: 40%;
        padding:0;
        @media(min-width: 768px) { padding-right: 4em; }
    }
    .pic-0 {
        float:left;
        width:58%;
        @media(min-width: 768px) { padding-top: 2.5em; }
    }        
}

// GRID PANEL STYLES FOR COPY
.grid {
    @media(min-width: 768px) { margin-top: -8.5%; }

    .title-holder p {
        max-width: 46.5em;
        margin: 0 auto 2em;
    }
}

// MIDDLE PANEL
.middle {
    @media(min-width: 768px) { 
        // margin-top: 2.5em; 
        margin-top: 6em; 
    }

    .title-holder {
        @media(min-width: 768px) {
            float: left;
            width:50%;
            max-width:520px;
            position: absolute;
        }
        
        p {
            max-width: 19.5em;
            margin: 0 auto 1.5em;
            position: relative;
            z-index: 1;
        }
    }

    .middle-div-holder {
        position: relative;
        height: auto;
        width: 100%;
        padding-bottom:115%;

        @media(min-width: 768px) {
            width: 64%;
            padding-bottom: 72%;
            float: right;
        }
    }

    .pic {
        display: inline-block;
        position: absolute;

        img {
            height: auto;
            width: 100%;
            max-width: 100%;
        }
    }

    .pic-0 { z-index: 2; }
    .pic-1 { z-index: 1; }
    .pic-2 { z-index: 0; }

    .pic-0 {
        top:0; right: 36.3%;
        width: 42%;
    }

    .pic-1 {
        top: 34%; right: 0%;
        width: 45%;
    }

    .pic-2 {
        top: 40%; right: 53%;
        width: 46%;

        @media(min-width: 768px) {
            top:auto; bottom:0;
        }

        @media(min-width: 1040px) {
            top:40%; bottom:auto;
        }
    }

    .pic-3 {
        right: 0; top:0;
    }

}


.postid-55 .middle .pic-3 {
    right:28%; top:auto; bottom:0;
}

// LOGO
.panel-inner { position: relative; }
.panel-inner .panel-logo {
    background-image:url("../../../../../img/logos/logo-case.png") !important;
    background-size: contain !important;
    width: 20%; max-width: 175px;
    padding-bottom: 20%;
    height: auto;
    position: absolute;
    bottom: 46%; left:0;

    @include prefix(transform, rotate(-20deg));

    @media(min-width: 768px) {
        bottom: 10%; left:5%;
    }
}

.svg .panel-inner .panel-logo {
    background-image:url("../../../../../img/logos/logo-case.svg") !important;
}



// OUTRO PANEL
.outro {
    padding-bottom: 5em;
    margin-top: 2em;
}

// GALLERY SCSS
.event-gallery {
    position: relative;
    float: left;
    margin:0;
    // padding:.15em;

    // @media(min-width: 481px) { padding:.3em; }

    .pic {
        position: relative;
        margin:0;
        display: block;
        float:left;
        width: 100%;

        .case-overlay {
            text-align: center;
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            opacity: 0;
            cursor: pointer;

            h3 {
                color:#fff;
                text-align: center;
                max-width: 90%;
                font-weight: 800;
                text-transform: uppercase;
                line-height: 1.1em;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: -1.5em auto auto;
                font-size: .9em;

                &::after {
                    content: "";
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    height: 0;
                    border-bottom: 2px solid #FFFFFF;
                    width: 4em;
                    padding-top: 1em;
                }

                @media(min-width: 481px) { font-size: 1.125em; }
            }

            @include prefix(transition, opacity 250ms);
            &:hover { opacity: 1; }
        }

        img {
            display:block;
            height: auto;
            width: 100%;
            max-width: 100%;
        }
    }
    // HIDE CHILDREN
    .pic { display: none; }
    // SHOW FIRST CHILD
    .pic-0 {display: block;}
}

// GRID 1 - CONTREAU
.grid-1 {
    @media(max-width: 599px) {
        .event-gallery { 
            width: 100%;
            margin-bottom: 1em;
            .album-cover {
                padding-bottom: 34%;
            }
        }
    }

    @media(min-width: 600px) {

        .event-gallery { width: 50%; }
        .event-gallery:first-of-type { width:26.042%; }
        .event-gallery:nth-of-type(2) { width: 33.333%; }
        .event-gallery:nth-of-type(3) { width: 40.625%; }
        .event-gallery:nth-of-type(4) { width: 55%;  clear:left;}
        .event-gallery:nth-of-type(5) { width: 45%; }

        .event-gallery:nth-of-type(1n+5) { width:26.042%; }
        .event-gallery:nth-of-type(2n+5) { width: 33.333%; }
        .event-gallery:nth-of-type(3n+5) { width: 40.625%; }
        .event-gallery:nth-of-type(4n+5) { width: 55%;}
        .event-gallery:nth-of-type(5n+5) { width: 45%; }
    }
}

// GRID 2 - SMART WATER
.grid-2 {
    @media(max-width: 599px) {
        .event-gallery { 
            width: 100%;
            margin-bottom: 1em;
            .album-cover {
                padding-bottom: 34%;
            }
        }
    }

    @media(min-width: 600px) {
        .event-gallery { width: 50%; }
        .event-gallery:first-of-type { width:41.666%; }
        .event-gallery:nth-of-type(2) { width: 18.751%; }
        .event-gallery:nth-of-type(3) { width: 39.583%; float:right; }
        .event-gallery:nth-of-type(4) { width: 41.666%;}
        .event-gallery:nth-of-type(5) { width: 18.751%; }

        .event-gallery:nth-of-type(1n+5) { width:41.666%; }
        .event-gallery:nth-of-type(2n+5) { width: 18.751%; }
        .event-gallery:nth-of-type(3n+5) { width: 39.583%; float:right; }
        .event-gallery:nth-of-type(4n+5) { width: 41.666%;}
        .event-gallery:nth-of-type(5n+5) { width: 18.751%; }
    }
}

// BORDERS ON GRID IMAGES
// .pic > a {
//     @media(min-width: 600px) {
//         display: block;
//         // width: 100%;
//         width:98%;
//         position: relative;
//         text-align: center;
//         overflow: hidden;

//         > div {
//             display: inline-block;
//         }
//         // margin: 0 auto;
//         // margin: .4em;
//         // padding-bottom: 0;
//     }
// }


// GRID 3 - SAILOR JERRY
.grid-3 {
    .event-gallery { 
        width: 100%; 
        margin-bottom: 1em;
        @media(min-width: 600px) {
            width: 33.333333%; 
            margin-bottom: 0;
        }
    }
}

// OUTRO
#main .outro {
    .pic {
        text-align: center;
    }
    p {
        margin-bottom: 1em;
    }
}

#main .middle {
    .pic {
        text-align: center;
    }
}

// LIGHTBOX FIXES
#swipebox-bottom-bar {
    bottom: 0;
    top: 0;
    margin: auto;
    background: transparent !important;
}

#swipebox-bottom-bar.visible-bars {
    // -webkit-transform: translate3d(0, -50px, 0);
    // transform: translate3d(0, -50px, 0);
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

#swipebox-title {
    text-transform: uppercase;
    font-weight: 800;
    font-family: brandon-grotesque, sans-serif;
    letter-spacing: .0618em;
}


// PAGE SPECIFIC STYLES
.postid-135  {
    .middle .title-holder p {
        max-width: 31.5em;
    }

    .middle .middle-div-holder {
        padding-bottom: 47%;
        @media (min-width: 768px) {
            padding-bottom: 30%;
        }
    }

    .middle .pic-0 {
        width: 11%;

        @media(max-width: 767px) {
            left: 0;
            right: 0;
            margin: auto;
        }

    }

    .panel-inner {

        .panel-logo {
            top: 70%;
            right: 60%;
            left: auto;

            @media(min-width: 768px) {
                bottom: -33%;
                right: 0;
                left: auto;
                z-index: 2;
            }
        }
    }
}



// ALBUM COVER PICS
.img-holder { position: relative; }
.album-cover {
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-size: cover;
    width:100%; height: auto;
    padding-bottom: 34%;

    @media(min-width: 600px) {
        padding-bottom: 50%;
    }
}

// COINTREAU
.postid-110 {

    .pic-0, .album-cover-0, 
    .album-cover-1, .album-cover-2, 
    .album-cover-3, .album-cover-4 { overflow: hidden;}

    .album-cover-0 { padding-bottom: 120%; }
    .album-cover-1 { padding-bottom: 94%; }
    .album-cover-2 { padding-bottom: 77%; }
    .album-cover-3 { padding-bottom: 61%; }
    .album-cover-4 { padding-bottom: 74.9%; }

    #ambassadors .pic-0,
    #sampling .pic-0,
    #events .pic-0 {max-height: 313px;}

    #media .pic-0,
    #experimental .pic-0 { max-height: 343px;}

    // COMMERCE
    .middle {
        .pic-0 {
            top: 7%;
            right: 46.3%;
            width: 46%;

            @media(min-width: 768px) {
                top:0;
            }
        }

        .pic-1 {
            top: 41.5%;
            right: 2%;
            width: 52%;
            z-index: 2;
            @media(min-width: 768px) {
                top: 34.5%;
            }
        }

        .pic-2 {
            width: 46%;
            top: 49%;
            right: 54%;
            
            @media(min-width: 768px) {
                top: 35%;
                right: 70%;
            }
        }

        .pic-3 {
            width: 38.947%;
            right: 0;
            top: -2%;

            @media(min-width: 768px) {
                right: 4%;
                top: -11%;
            }
        }
    }

    .panel-inner .panel-logo {
        bottom: 76%;
        @media(min-width: 768px) {
            bottom: 25%;
        }
    }
}



// SAILOR JERRY 
.postid-55 {
    .pic-0, .album-cover-0, 
    .album-cover-1, .album-cover-2, 
    .album-cover-3, .album-cover-4 { overflow: hidden;}


    @media(min-width: 600px) {
        .album-cover-0 { padding-bottom: 76.6%; }
        .album-cover-1 { padding-bottom: 132.5%; }
        .album-cover-2 { padding-bottom: 65%; }
        .album-cover-3 { padding-bottom: 56%; }
        .album-cover-4 { padding-bottom: 67.1%; }

        #partnership .pic-0 {max-height: 265px;}
        #key-influencers .pic-0 {max-height: 450px;}
        #advertising .pic-0 {max-height: 225px;}
        #events .pic-0 {max-height: 185px;}
        #experimental .pic-0 {max-height: 225px;}

        // MOVE PHOTO OVER
        #events {
            position: absolute;
            top: 57.8%;
            @media(min-width: 1030px) { top: 58.9%; }
        }
    }


    // COMMERCE LAYOUTS
    .middle {
        .pic-0 {
            top: 0;
            // right: 39.3%;
            right: 33.3%;
            width: 41.95%;
        }

        .pic-1 {
            top: -3%;
            // right: 0%;
            // right: -4%;
            // width: 45%;
            // width: 34.436%;

            right: 0;
            width: 30.436%;
        }

        .pic-2 {
            top: 32%;
            // right: 74%;
            right: 66%;
            width: 33.984%;
            z-index: 2;
        }
        .pic-3 {
            // right: 37%;
            right: 31%;
            top: auto;
            bottom: 11%;
            z-index: 2;
            width: 33.8%;
        }
    }

    // INTRO PANEL
    .panel-container.intro img { max-width: 480px; }

}


// SMART WATER
.postid-135 {
    .pic-0, .album-cover-0, 
    .album-cover-1, .album-cover-2, 
    .album-cover-3, .album-cover-4 { overflow: hidden;}

    .album-cover-0 { padding-bottom: 63%; }
    .album-cover-1 {padding-bottom: 143.5%; }
    .album-cover-2 {padding-bottom: 124.4%; }
    .album-cover-3 {padding-bottom: 53.1%; }
    .album-cover-4 {padding-bottom: 118.7%; }

    ul[id^="ambassadors"] .pic-0 { max-height: 270px; }
    #experimental .pic-0 { max-height: 270px; }
    #partnerships .pic-0 { max-height: 500px; }
    #viral .pic-0 { max-height: 230px; }
    #events .pic-0 { max-height: 230px; }

    @media(min-width: 768px) {
        .panel-inner .panel-logo {
            bottom: -33%;
            left: auto;
            right: 8%;
            z-index: 2;
        }
    }

}