// WHO WE ARE

.page-id-6 {

    .article-holder {
        width: 95%;
        margin: 0 auto;

        .entry-content {
            padding-left:0;
            padding-right:0;
            background: #fff;

            @media(min-width:620px) {
                padding-left:1em;
                padding-right:1em;
                z-index: 1;
            }
        }

        h2 { margin-bottom: 0; }

        p {
            margin: 1em auto;
            line-height: 1.2rem;
        }
    }
}

#post-6 > section > p { max-width: 50em; }

.checkered {    
    background: #ebebeb;
    padding: 1em 0 2em;

    @media(min-width: 768px) {
        padding: 3em 0;
    }
}

.checker-holder { margin:3em 0 4.5em; }

@media(min-width: 481px) {
    .checkered .child {
        width: 75%;
        margin:0 auto;
    }
    .entry-content {
        padding-left:0;
        padding-right:0;
    }
}

.entry-content.checkered {
    &:nth-of-type(even) { background-color: #ffffff; }
}

.check-img {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 100%;

    @media(min-width: 430px) { padding-bottom:391px; }

    img {
        display: block;
        position: absolute;
        top:0; bottom:0; left:0; right:0;
        margin:auto;
        width:100%;
    }
}

.page-id-6 .entry-content h3 { line-height: 1.4em; }
#post-6 > section > hr { margin:1em auto;}

.child{
    h3 { line-height: 1em; }
    p {
        line-height: 1.2em;
        max-width: 19em;
        margin: 0 auto;
    }
}


@media(min-width: 768px) {
    .checker-image {
        max-width: none !important;
        max-height: none !important;
    }

    .check-img {
        width: 50%;
        padding-bottom: 50%;

        &:first-of-type { float: left; }
        &:nth-of-type(3) { float: right; }
        &:nth-of-type(5) { float: left; }
    }

    .entry-content { background-color: #ffffff; }

    .checker-holder { margin:3em 0 4.5em; }

    .checkered {    
        position: relative;
        width:50%;
        height: auto;
        padding-top:0;
        padding-bottom:50%;

        &:nth-of-type(odd) { float: right; }
        &:nth-of-type(even) { float:left; }

        .child {
            width: 75%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            // @include prefix(transform, translateX(-50%) );
            // @include prefix(transform, translateY(-50%) );
            // -webkit-transform: translate(-50%, -50%);
            @include prefix(transform, translate(-50% -50%));
        }
    }
}


.who-case-logo {
    background-image: url('../../../../../img/logos/logo-case.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:22%; max-width: 144px;
    // padding-bottom:22%; 
    padding-bottom:19%;
    margin:1em auto;

    @include prefix(transform, rotate(-15deg));

    @media(min-width: 768px) { margin:0 auto; }
}

.svg .who-case-logo { background-image: url('../../../../../img/logos/logo-case.svg'); }

#post-6 { position: relative;}

.checker-holder:after {
    content: "";
    background-image: url('../../../../../img/logos/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 10%; max-width: 144px;
    height: auto; max-height: 144px;
    min-width: 87px; min-height: 87px;
    padding-bottom: 10%;
    position: absolute;
    top:38.5%; left:0; right:0;
    z-index: 1;
    margin:auto;

    @include prefix(transform, rotate(-20deg));

    display: none;

    @media(min-width: 768px) { display: block; }
}

.svg .checker-holder:after { background-image: url('../../../../../img/logos/logo.svg'); }

.page-id-6 {
    #content {padding-top:0;}
}